@media screen and (max-width:360px){
    .imgDestaque {
        width: 130px!important;
    }
    
}
@media screen and (max-width:585px){
    .container {
        padding: 0 1rem;
    }
    .menu ul li {
        width: 3.438rem;
        margin: 0 0 0 10px;
    }
    .menu ul li a {
        font-size: 0.85rem;
    }
    .container .anuncioProduto .fotoProduto img {
        max-width: 100%;
    }
    .produtoDestaque {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .imgDestaque {
        width: 170px;
    }
    .destaque a{
        font-size: .825rem;
    }
    .menu ul li ul li{
        width: 80px;
        height: 35px;
        line-height: 35px;
    }
.menu ul ul ul {
    margin: 0 0 0 80px;
}

}

@media screen and (min-width:585px){
    .produtoDestaque {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:950px){
    .produtoDestaque {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (min-width:800px){
    .container .anuncioProduto .fotoProduto img {
        width: 280px;
        height: 220px;
    }
    .container .anuncioProduto .descricaoProduto {
        width: 50%;
    }
}