@media screen and (max-width:360px){
    .imgDestaque {
        width: 130px!important;
    }
    
}
@media screen and (max-width:585px){
    .container {
        padding: 0 1rem;
    }
    .container .anuncioProduto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .anuncioProduto .descricaoProduto .fichaTecnica p {
        padding: 20px;
    }   
    .menu ul{
        width: 85%!important;
    }
    .menu ul li {
        width: 3.438rem;
        margin: 0 0 0 10px;
    }
    .menu ul li a {
        font-size: 0.85rem;
    }
    .container .anuncioProduto .fotoProduto img {
        max-width: 100%;
    }
    .produtoDestaque {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .imgDestaque {
        width: 170px;
    }
    .destaque a{
        font-size: .825rem;
    }
    .menu ul li{
        text-align: end;
    }
    .menu ul li ul li {
        width: 100px;
        height: 40px;
        line-height: 30px;
        padding: 5px;
    } 
    .menu ul ul ul {
        margin: 0 0 0 94px;
    }
    .mainFooter{
        width: 80%;
        margin: 0 auto;
    }    
}

@media screen and (min-width:585px){
    .produtoDestaque {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .menu ul {
        width: 80%;
    }
    .menu ul li ul li {
        width: 115px!important;
        padding: 5px;
    } 
    .menu ul ul ul {
        margin: 0 0 0 110px;
    }
}
@media screen and (min-width:800px){
    .container .anuncioProduto .fotoProduto img {
        width: 280px;
        height: 220px;
    }
    .container .anuncioProduto .descricaoProduto {
        width: 50%;
    }
    .menu ul {
        width: 65%;
    }
}
@media screen and (min-width:950px){
    .produtoDestaque {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .menu ul {
        width: 50%;
    }
}